<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <meta name="description" content="Owhat是明星忠实粉丝的互动平台，为娱乐公司和粉丝后援会提供包括在线交易、传播管理、活跃度管理和明星福利互动等一站式的便捷互动工具。为明星更好的经营粉丝，为粉丝更好的支持偶像。" />
    <meta name="keywords" content="明星,粉丝,娱乐,演出,演唱会,订票,owhat,爱豆,EXO,鹿晗,TFBOYS,华晨宇,吴亦凡,电影,音乐,流行音乐,八卦,艺人" />
    <meta name="author" content="owhat, bjoffice@owhat.cn" />
    <!-- 定义页面的最新版本 -->
    <meta name="revised" content="owhat 3.0" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="wb:webmaster" content="812fe9cf7d8ad52c" />
    <title>找回密码</title>
  </head>

  <body>
    <table cellpadding="0" cellspacing="5" width="100%" border="0" align="center" bgcolor="#f3f3f2">
      <tbody>
        <tr>
          <td bgcolor="#FFFFFF">
            <table cellpadding="0" cellspacing="0" width="100%" border="0" align="center">
              <tbody>
                <tr style=""><td height="20" style="line-height:20px;" colspan="3">&nbsp;</td></tr>
                <tr>
                  <td width="10"></td>
                  <td width="">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0" align="center">
                      <tbody>
                        <tr>
                          <td>
                            <a href="www.owhat.cn" style="display: block;">
                              <img height="32" src="http://<%= HOSTS['asset'] %>/assets/home/logo-eceb537fcb81c5877db3ad2cc7154dccbd3071ce76f69625a3d31364d3014fc2.png" alt="Owhat是明星忠实粉丝的互动平台，为娱乐公司和粉丝后援会提供包括在线交易、传播管理、活跃度管理和明星福利互动等一站式的便捷互动工具。为明星更好的经营粉丝，为粉丝更好的支持偶像。" />
                            </a>
                          </td>
                        </tr>
                        <tr style=""><td height="16" style="line-height:16px;border-bottom:solid 1px #e5e5e5;">&nbsp;</td></tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="10"></td>
                </tr>
                <tr>
                  <td width="10"></td>
                  <td width="">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0" align="center">
                      <tbody>
                        <tr style=""><td height="20" style="line-height:20px;">&nbsp;</td></tr>
                        <tr>
                          <td width="381" valign="middle" style="font-size:12px; color:#333333; line-height:24px;" height="152">亲爱的 <span style="color:bule;"><%= h @user.name %></span>， 您好：<br />
                            <span style="padding:0; margin:0; font-size:14px;">您申请了找回Owhat密码。如非本人操作，请忽略此邮件。</span><br />
                            <span style="padding:0; margin:0; font-size:14px;line-height:24px;">需找回的账号： <span style="color:bule; font-size:14px;"><%= h @user.account.email %></span><br />
                            修改密码后右侧链接将失效。<br />
                          </span></td>
                        </tr>
                        <tr>
                          <td style="font-size: 12px; color: #5b5b5b; padding-top: 5px; padding-bottom: 5px; line-height: 24px;">
                            验证码为  <%= h @user.account.remember_token %>
                            <a href="http://<%= HOSTS['asset'] %>/accounts/<%= h @user.id %>/new_password" target="_blank" style=" outline:none; " hidefocus="ture" title="修改密码">点击</a> 找回密码
                          </td>
                        </tr>
                        <tr style=""><td height="16" style="line-height:16px;">&nbsp;</td></tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="10"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
