<%= content_for :title do %>
  <%= @task.title %>
<% end %>
<%# cache @participators do %>
  <div class="container">
    <%= render 'shop/shared/show_crumbs' %>
    <div class="clearfix">
      <div class="content-left">
        <%= form_tag add_shop_carts_path, class: 'task-product', name: "shop" do %>
          <div class="clearfix task-main">
            <div class="detail-left">
              <%= render 'shop/shared/task_pictures' %>
              <% if @task.is_rush %>
                <div class="countdown text-center">
                  <div class="time" data-end-at="<%= @task.sale_end_at %>" data-start-at="<%= @task.sale_start_at %>">
                    <small class="js-timeTip">距结束:</small>
                    <span class="timeblock">0</span>
                    <span class="timeblock">0</span>
                    <span class="">天</span>
                    <span class="timeblock">0</span>
                    <span class="timeblock">0</span>
                    <span class="">时</span>
                    <span class="timeblock">0</span>
                    <span class="timeblock">0</span>
                    <span class="">分</span>
                    <span class="timeblock">0</span>
                    <span class="timeblock">0</span>
                    <!-- <span class="">秒</span> -->
                  </div>
                </div>
              <% end %>

              <div class="share-box clearfix">
                <%= render partial: "shop/shared/share", locals: {object: @task, type: 'task', text: '我喜欢这个活动'} %>
              </div>
              <% if @current_user %>
                <div class="square-article text-gray">
                  <%= render partial: 'shop/shared/complete_status', locals: {task: @task.shop_task} %>
                </div>
              <% end %>
            </div>
            <div class="detail-right">
              <h4 class="task-title"><%= @task.title %></h4>
              <p>
                <span class="label-icon"><i class="icons">&#xe631;</i></span><span class="text-highlight-r js-eventprice"><%= @ticket_types.first.fee %></span> 元
                <input name="ticket_type_id" class="js-posteventprice" type="hidden" value="<%= @categories.first[1].first.id %>">
              </p>
              <% if @task.start_at.present? %>
                <p>
                  <span class="label-icon"><i class="icons">&#xe640;</i></span>
                  <span><%= @task.start_at && @task.start_at.to_date.to_s(:db) %></span>
                </p>
              <% end %>
              <% if @task.address.present? %>
                <p>
                  <span class="label-icon"><i class="icons">&#xe63f;</i></span>
                  <span><%= @task.address %></span>
                </p>
              <% end %>
              <p>
                <span class="label-icon"><i class="icons">&#xe6c3;</i></span>
                <span>
                  <%= @task.shop_task.participants %> 人完成任务
                </span>
              </p>
              <p class="js_limt_surplus" style="<%= @ticket_types.first.is_limit? ? 'display: block;' : 'display: none;' %>">
                <span class="label-icon"><i class="icons">&#xe6c3;</i></span>
                <span class="js_limt_text">
                  该款价格商品剩余 <%= @surplus_participators < 0 ? 0 : @surplus_participators %> 个
                </span>
              </p>
              <p>
                <span class="label-icon"><i class="icons">&#xe6c2;</i></span>
                <span>
                  已出售
                  <span class="ticket-sold"><%= @ticket_types.first.participator %></span>
                  <span class="ticket-total hide">
                    <% if  @ticket_types.first.is_limit %>
                      <%= @ticket_types.first.ticket_limit %>
                    <% else %>
                      不限
                    <% end %>
                  </span>
                </span>
              </p>
              <p>
                <span class="label-icon"><i class="icons">&#xe63c;</i></span>
                <% @stars.each do |star| %>
                  <%= link_to star.name, home_star_path(star) ? home_star_path(star) : 'javascript:;' %>&nbsp;&nbsp;
                <% end %>
              </p>
              <% if @freight_template.present? %>
                <div style="margin-bottom: 15px;">
                  <span class="label-icon"> <i class="icons">&#xe6b4;</i> </span>
                  <span><%= @freight_template.start_position %></span>&nbsp;送至&nbsp;
                  <div class="distribute">
                    <a href="#modalcity" class="distribute-btn js-citytext" data-toggle="modal"><%= @freight.try(:destination) %> &darr;</a>
                  </div>&nbsp;&nbsp;
                  配送费：<span class="distribute-fee js-cityPrice">￥<%= @freight.first_fee %></span>
                </div>
              <% end %>


              <ul class="list-inline js-showtype">
                <li>分类：</li>
                <% @categories.each do |key, category| %>
                  <li class="otag-type" data-id="<%= key %>">
                    <label for="data-1" class="task-label">
                      <%= key %>
                    </label>
                    <span class="otag-state"></span>
                  </li>
                <% end %>
              </ul>
              <ul class="list-inline js-showprice">
                <li>类型：</li>
                <% @categories.first[1].each do |category| %>
                  <li class="otag-type">
                    <label for="data-1" class="task-label">
                      <%= category.second_category %>
                    </label>
                    <span class="otag-state"></span>
                  </li>
                <% end %>
              </ul>

              <ul class="list-inline">
                <li>数量：</li>
                <li class="">
                  <div class="product-quantity">
                    <button name="button" type="button" class="quantity-button reduce-quantity js-minus">-</button>
                    <input type="number" min="1" value="1" class="quantity-field js-value" name="quantity" onkeydown="if(event.keyCode==13)event.keyCode=9" onkeypress="if ((event.keyCode<48 || event.keyCode>57)) event.returnValue=false">
                    <button name="button" type="button" class="quantity-button add-quantity js-add" data-target-name="quantity">+</button>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- 附加信息 -->
          <% if @ext_infos.present? %>
            <div class="ext-infos-edit clearfix">
              <div class="pull-left">附加信息：</div>
              <% @ext_infos.each_with_index do |info, index| %>
              <div class="row form-group" style="margin-left: 70px;">
                <label for="" class="col-sm-3 control-label text-right">
                  <% if info.require %>
                    <span class="text-highlight-r">*</span>
                  <% end %>
                  <%= info.title %>
                </label>
                <div class="col-sm-9">
                  <% if info.require %>
                    <input type="text" class="form-control js-infodanger" required="required" name="info<%= index%>" placeholder="不要添加表情符号哦，否则生成不了订单哒">
                  <% else %>
                    <input type="text" class="form-control" name="info<%= index%>"  placeholder="不要添加表情符号哦，否则生成不了订单哒">
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>

          <% if @task.sale_start_at && @task.sale_start_at > Time.now %>
            <!-- 售卖未开始 -->
            <button class="btn btn-gray btn-block" disabled="disabled">售卖未开始</button>
          <% elsif @task.sale_end_at && @task.sale_end_at < Time.now %>
            <!-- 售卖已结束 -->
            <button class="btn btn-gray btn-block" disabled="disabled">售卖已结束</button>
          <% elsif @ticket_types.first.is_limit && @max_participators.map.each{ |k, v| @max_participators[k] - @participators[k] }.sum <= 0 %>
            <button class="btn btn-gray btn-block" disabled="disabled">商品已售空</button>
          <% else %>
            <div class="text-right">
              <div class="hidden_field">
                <input type="hidden" value="<%= @task.shop_category %>" name="shop_category">
                <input type="hidden" value="<%= @task.id %>" name="shop_task_id">
              </div>
              <% unless @task.is_rush %>
                <% if @current_user %>
                  <button name="button" type="button" class="btn btn-highlight-outline space-lg-hor" id="add-cart" >加入购物车</button>
                <% else %>
                  <a class="btn btn-highlight-outline space-lg-hor" href="/sessions/new?redirect=/shop/events/<%= @task.id %>">加入购物车</a>
                <% end %>
              <% end %>

              <% if @current_user %>
                <button name="button" type="button" class="btn btn-highlight space-lg-hor" id="buy-item" >立即购买</button>
              <% else %>
                <a class="btn btn-highlight space-lg-hor" href="/sessions/new?redirect=/shop/events/<%= @task.id %>">立即购买</a>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <!-- 活动详情 -->
        <h5 class="h4 aside-title">
          <span class="border-l">活动详情</span>
        </h5>
        <div class="article-area">
          <%= simple_format h @task.description %>
          <% if @task.descripe_cover %>
            <div>
              <%= image_tag @task.descripe_cover %>
            </div>
          <% end %>
        </div>
        <% cache(@parti_users, expires_in: 20.minutes ) do %>
          <%= render "/shop/shared/paid_ranking", users: @parti_users, url: "/shop/events/#{@task.id}/more_users" %>
        <% end %>
      </div>
      <!-- 右侧边栏 -->
      <%= render partial: "layouts/home/aside", locals: {publish_user: @task.user} %>

    </div>
  </div>
  <div class="js-dataInfo hide" data-participatorjson='<%= raw @price_types.to_json %>' data-participator='<%= raw @participators.to_json %>' data-maxparticipator='<%= raw @max_participators.to_json %>' data-freights='<%= raw @freights_json.to_json %>' data-each='<%= raw @each_limit.to_json %>'></div>
  <% if @task.freight_template.present? %>
    <% cache(@task.freight_template) do %>
      <div class="modal fade freight-modal" id="modalcity" tabindex="-1" role="dialog" aria-labelledby="modalcityLabel" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">配送：<%= @task.freight_template.start_position %>→<span class="js-changecity"><%= @task.freight_template.freights.first.destination %></span></h4>
            </div>
            <div class="modal-body">
              <% @task.freight_template.freights.each do |freight| %>
                <button class="btn btn-default js-city"><%= freight.destination %></button>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default space-lg-hor" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-highlight-outline space-lg-hor js-saveCity" data-dismiss="modal">保存</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<%# end %>
<% content_for :tail do %>
  <script type="text/javascript">
      var tid = null;
      var bClicked = false;
      var bCarsSecound = false;
      var bInfo = true;
      var json = $.parseJSON($('.js-dataInfo').attr('data-participatorjson'));
      var participator_json = $.parseJSON($('.js-dataInfo').attr('data-participator'));
      var max_participator_json = $.parseJSON($('.js-dataInfo').attr('data-maxparticipator'));
      var freights_json = $.parseJSON($('.js-dataInfo').attr('data-freights'));
      var each_json = $.parseJSON($('.js-dataInfo').attr('data-each'));
      var oDataoIdWrap = 99999999;
      var url = '/shop/events/'+<%= @task.id %>+'/get_ticket_type';
      shopData(url);
      var isHasTime = $(document).find('.time').length;
      if(isHasTime == 1){
        changeTime();
      }
  </script>
<% end %>
