<h3><%= "#{model.model_name.human}#{t(:index)}" %> (<%= @records.total_entries %>)</h3>
<h3>截止<%= (Time.now-1).beginning_of_day.strftime "%Y-%m-%d" %> 23:50:00 活动总收入: <%= h = eval(Redis.current.get("shop_order_sum_pay_for_day") || '{}')[:sum]%></h3>
<% owhat_product_types = { 'Shop::Funding' => "应援", 'Shop::Event' => "活动", 'Shop::Product' => "商品" } %>
<div class="well well-sm">
  <!-- 用户搜索 -->
  <%= form_tag request.path, method: 'get', id: 'search_form', class: 'form-inline clearfix' do %>
    <%= render 'manage/shared/search/basic', field: 'owhat_product_id' %>
    <%= render 'manage/shared/search/select', field: 'owhat_product_type', options: [['活动', 'Shop::Event'], ['商品', 'Shop::Product']] %>
    <%= render 'manage/shared/search/select', field: 'status', options: Shop::OrderItem.statuses.to_a.map { |w| [t(w[0]), w[1]] } %>
    <%= render 'manage/shared/search/basic', field: 'basic_order_no' %>
    <%= render 'manage/shared/search/basic', field: 'order_no' %>
    <%= render 'manage/shared/search/select2', field: 'user_id', options: { selects: [], url: "/manage/core/search_user_all" , multiple_class: false, auto_suppl: true, auto_url: "/manage/core/get_user_all?id=#{(params[:where] || {})[:user_id]}" } %>
    <%= render 'manage/shared/search/basic', field: 'phone' %>
    <%#= render 'manage/shared/search/page' %>
    <div class="form-group">
      <%= submit_tag t(:search), name: nil, class: 'btn btn-primary' %>
      <%#= link_to t(:reset), request.path, class: 'btn btn-info', data: {remote: true} %>
    </div>
  <% end %>
  <br>
  <%= form_tag export_manage_shop_order_items_path, method: :get, class: "form-inline clearfix js-exportorder-form"  do %>
    <%= label_tag "where[owhat_product_type]", '任务信息' %>
    <%= render 'manage/shared/search/select', field: 'owhat_product_type', options: [['活动', 'Shop::Event'], ['商品', 'Shop::Product']] %>
    <%= render 'manage/shared/search/basic', field: 'owhat_product_id' %>
    <%= render 'manage/shared/search/range', field: 'paid_at', provide: 'datepicker-time-second-inline' %>
    <%= render 'manage/shared/search/checkbox', field: 'exclude_free', option:{value: true, checked: false}%>

    <div class="form-group">
      <label class="control-label">导出格式</label>
      <%= select_tag 'format', options_for_select(['xlsx', 'csv'], params[:format]), class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="control-label">订单状态</label>
      <%= select_tag 'status', options_for_select([['已付款', 2]]), class: 'form-control' %>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger js-exportorder-submit">导出订单</button>
    </div>
  <% end %>
  <!-- 用户搜索 end/ -->
</div>
<!-- 用户列表 -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <% %i{ id 总订单号 子订单号 owhat_product_id owhat_product_type user_id 用户主账号key phone status quantity payment created_at }.each do |field| %>
        <th><%= model.human_attribute_name(field) %></th>
      <% end %>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.includes(:owhat_product, :user, :order).each do |record| %>
      <tr>
        <td><%= record.id %></td>
        <td><%= record.basic_order_no %></td>
        <td><%= record.order_no %></td>
        <td><%= record.owhat_product_id %></td>
        <td><%= owhat_product_types[record.owhat_product_type] %></td>
        <td><%= record.user.try(:name) %>
        <td><%= record.user.account.try(:phone) || record.user.account.try(:email) %>
        <td><%= record.try(:phone) %>
        <td><%= t record.status %>
        <td><%= record.quantity %>
        <td><%= record.payment.to_f.round(2) %>
        <td><%= record.created_at.to_s(:db) %></td>
        <td>
          <%= render 'manage/shared/actions', record: record %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="dt-toolbar-footer">
  <%= render 'manage/shared/pagination', records: @records %>
</div>
<script>
  $('#where_paid_at_start').click(function(){
     var oval = $(this).val();
     if(oval == ''){
       $(this).val("<%= Time.now.beginning_of_day.to_s(:db) %>");
     }
  });
  $('#where_paid_at_end').click(function(){
     var oval = $(this).val();
     if(oval == ''){
       $(this).val("<%= Time.now.end_of_day.to_s(:db) %>");
     }
  });
  $('.js-exportorder-submit').click(function(){
    var nowOption = $('.js-exportorder-form #where_owhat_product_type').find('option:selected').val();
    var nowId = $('.js-exportorder-form #where_owhat_product_id').val();
    var startTime = $('#where_paid_at_start').val();
    var endTime = $('#where_paid_at_end').val();
    var errorTime = new Date(endTime).getTime()-new Date(startTime).getTime();
    var oDay = parseInt(errorTime/86400000);
    if(nowOption !='' && nowId !=''){
      if(startTime !='' && endTime ==''){
        alert('支付时间的开始时间和结束时间必须同时选择,请检查');
        return false;
      }else if(startTime =='' && endTime != ''){
        alert('支付时间的开始时间和结束时间必须同时选择,请检查');
        return false;
      }else{
        errorFunTime(oDay);
      }
    }else if(nowOption !='' && nowId =='' || nowOption =='' && nowId !=''){
      alert('任务信息里的任务类型和任务ID必须同时选择/填写,请检查');
      return false;
    }else{
      if(startTime !='' && endTime !=''){
        errorFunTime(oDay);
      }else if(startTime ==''&& endTime==''){
        alert('任务信息里的任务类型和任务ID必须同时选择/填写,请检查');
        return false;
      }else{
        alert('支付时间的开始时间和结束时间必须同时选择,请检查');
        return false;
      }
    }
  });
  
  function errorFunTime(oDay){
    if(oDay<0){
      alert('结束时间必须晚于开始时间,请确认后重试');
      return false;
    }else{
      if(oDay>7){
        if(confirm("无法导出。您的选择已超过限制：订单导出的时间范围最长仅支持7天。点击确认，将自动导出开始时间后7天的数据；点击取消，则重新选择时间。")){
          $('.js-exportorder-form').submit();
        }else{
          return false;
        }
      }else{
        $('.js-exportorder-form').submit();
      }
    }
  }
</script>
