<h3><%= "#{model.model_name.human}#{t(:index)}" %> (<%= @records.total_entries %>)</h3>
<% owhat_product_types = { 'Shop::Funding' => "应援", 'Shop::Event' => "活动", 'Shop::Product' => "商品" } %>

<div class="well well-sm">
  <!-- 用户搜索 -->
  <%= form_tag request.path, method: 'get', id: 'search_form', class: 'form-inline clearfix' do %>
    <%= render 'manage/shared/search/basic', field: 'id' %>
    <%= render 'manage/shared/search/basic', field: 'task_id' %>
    <%= render 'manage/shared/search/select', field: 'task_type', options: [['活动', 'Shop::Event'], ['商品', 'Shop::Product'], ['应援', 'Shop::Funding']] %>
    <%= render 'manage/shared/search/select2', field: 'requested_by', options: { selects: [], url: "/manage/core/search_user" , multiple_class: false, auto_suppl: true, auto_url: "/manage/core/get_user?id=#{(params[:where] || {})[:requested_by]}" } %>
    <%= render 'manage/shared/search/basic', field: 'mobile' %>
    <%= render 'manage/shared/search/like', field: 'receiver_name' %>
    <%= render 'manage/shared/search/select', field: 'status', options: Core::WithdrawOrder.statuses.to_a.map { |w| [t(w[0]), w[1]] } %>
    <%= render 'manage/shared/search/page' %>
    <div class="form-group">
      <%= submit_tag t(:search), name: nil, class: 'btn btn-primary' %>
      <%#= link_to t(:reset), request.path, class: 'btn btn-info', data: {remote: true} %>
    </div>
    <%= link_to t('new'), [:new, :manage, model.model_name.singular], class: 'btn btn-primary pull-right' if can?(:create, model) %>
  <% end %>
</div>
<!-- 用户列表 -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <% %i{ id amount receiver_name receiver_account bank_name requested_by requested_at mobile email task_id task_type verified_by  status created_at }.each do |field| %>
        <th><%= model.human_attribute_name(field) %></th>
      <% end %>
      <th><%= t 'actions' %></th>
      <th><%= t 'download' %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.includes(:requestor, :verifier, :task).each do |record| %>
      <tr>
        <td><%= record.id %></td>
        <td><%= record.amount %></td>
        <td><%= record.receiver_name %></td>
        <td><%= record.receiver_account %></td>
        <td><%= record.bank_name %></td>
        <td><%= record.requestor.try(:name) %></td>
        <td><%= record.requested_at %></td>
        <td><%= record.mobile %></td>
        <td><%= record.email %></td>
        <td><%= record.task_id %></td>
        <td><%= owhat_product_types[record.task_type] %></td>
        <td><%= record.verifier.try(:name) %>
        <td><%= t record.status %>
        <td><%= record.created_at.to_s(:db) %></td>
        <td>
          <%= render 'manage/shared/actions', record: record %>
        </td>
        <td>
          <% if record.core_exported_order_id.present? %>
            <%= render 'manage/shared/download', record: record %>
          <% else %>
            <%= render 'manage/shared/manual_download', record: record %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="dt-toolbar-footer">
  <%= render 'manage/shared/pagination', records: @records %>
</div>
