<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/">发现</a></li>
    <li class="active">Owhat Super Stars</li>
  </ol>
  <div class="list rankings-list">
    <!-- 粉丝会 -->
    <div class="row row-10">
      <% @stars.each do |star| %>
      <div class="col-sm-6 col-md-3">
        <div class="tag-box text-center">
          <!-- 头像 -->
          <%= link_to (image_tag star.picture_url.to_s + "?imageMogr2/auto-orient/thumbnail/!50x50r/gravity/Center/crop/50x50", class: 'img-circle', alt: ''), home_star_path(star), class: 'avatar-round' %>
          <div class="limit-height">
            <div class="h4 ellipsis">
              <%= link_to star.name, home_star_path(star) %>
              <i class="icons v-icon v-star">&#xe609;</i>
            </div>
            <p class="text-gray ellipsis">
              粉丝：<%= star.fans_total %>
            </p>
            <p class="text-gray ellipsis"><%= star.description %></p>
          </div>
          <label class="checkbox-stars">
            <%= follow_links(star) %>
          </label>
        <%# end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= will_paginate(@stars) %>
    </div>
  </div>
</div>
