<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">应援榜</li>
  </ol>
  <div class="head-highline onav-line onav-line-sm">
    <%= link_to '明星', stars_home_rankings_path, class: "item" %>
    <%= link_to '粉丝会', fans_will_home_rankings_path, class: "item active" %>
  </div>

  <div class="list rankings-list">
    <!-- 明星 -->
    <div class="row row-10">
    <% @users.each_with_index do |user, i| %>
      <div class="col-sm-6 col-md-3">
        <div class="tag-box text-center">
          <% if params[:page].to_i < 2 %>
            <div class="rank-no ellipsis <%= 'rank-no-highlight' if i < 3 %>">
              <i class="icons">&#xe649;</i>&nbsp;<%= user.participants %>
            </div>
          <% end %>
          <!-- 头像 -->
          <%= link_to (image_tag user.picture_url.to_s + "?imageMogr2/auto-orient/thumbnail/!50x50r/gravity/Center/crop/50x50", class: 'img-circle', alt: ''), home_user_path(user), class: 'avatar-round' %>
          <div class="limit-height">
            <div class="h4 ellipsis">
              <%= link_to user.name, home_user_path(user) %>
              <i class="icons v-icon v-expert">&#xe609;</i>
            </div>
            <p class="text-gray ellipsis">
              粉丝：<%= user.followers_count %>&nbsp;&nbsp;|&nbsp;&nbsp;关注：<%= user.follow_count %>
            </p>
            <p class="text-gray ellipsis"><%= raw user.signature && user.signature.html_safe %></p>
          </div>
          <label class="checkbox-stars">
            <%= follow_links(user) %>
          </label>
        </div>
      </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= will_paginate(@users) %>
    </div>
  </div>
</div>
