<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">关注列表</li>
  </ol>
  <% if @follows.blank? %>
    <div class="null-content">
      <div class="text-center translate-middle-y">
        <p>
          <%= image_tag 'home/null-content.png', alt: '' %>
        </p>
        <p>您还没有关注哦！快去关注吧！</p>
        <a href="<%= home_stars_path %>" class="btn btn-sm btn-default">去关注</a>
      </div>
    </div>
  <% else %>
    <br>
    <div class="block-area">
      <% @follows.map(&:followable).compact.each do |user|%>
      <div class="avatar-head has-bordered">
        <%= link_to user.is_a?(Core::Star) ? home_star_path(user) : home_user_path(user), class: 'avatar-round pull-left' do %>
          <%= image_tag user.class.to_s == "Core::User" ? user.picture_url.to_s + "?imageMogr2/auto-orient/thumbnail/!62x62r/gravity/Center/crop/62x62" : user.app_picture_url.to_s + "?imageMogr2/auto-orient/thumbnail/!62x62r/gravity/Center/crop/62x62", class: 'img-circle' %>
        <% end %>

        <label class="checkbox-stars pull-right" for="">
          <%= follow_links(user) %>
        </label>
        <div class="name-location">
          <div class="ellipsis">
            <a href="<%= user.is_a?(Core::Star) ? home_star_path(user) : home_user_path(user) %>">
              <%= user.name %>
            </a>
            <%= user_identity_style(user)%>
          </div>
          <p class="text-gray ellipsis">
            <a href="<%= user.is_a?(Core::Star) ? "javascript:;" : followers_home_user_path(user) %>" class="text-gray">
              粉丝：<%= user.followers_count %>
            </a>
            <% if user.is_a?(Core::User) %>
              &nbsp;&nbsp;|&nbsp;&nbsp;
            <% end %>
            <%= link_to follows_home_user_path(user), class: "text-gray" do%>
              关注：<%= user.follow_count %>
            <% end if user.is_a?(Core::User) %>
          </p>
          <p class="name-desc ellipsis text-gray"><%= user.is_a?(Core::User) ? user.signature : user.sign %></p>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <%= will_paginate(@follows) %>
  </div>
</div>
