<% show = !%w[new edit].include?(params[:action]) && @record.valid? %>
<% options_class = show ? {disabled: 'true'} : {} %>

<%= form_for @record, url: [:manage, @record], method: @record.new_record? ? :post : :put, html: {class: 'form-horizontal readonly-form'} do |f| %>
  <% f.options.merge!(options_class: options_class) %>

  <div class="modal-body">
    <%= render 'manage/shared/modal/id', {f: f} if show %>
    <%= render 'manage/shared/modal/file_field', {f: f, field: :pic, picture_url: @record.picture_url, image: {:width => '200px', :hight => '200px'}, p_field: '支持jpg/jpeg/png格式,大小<2M' } %>

    <%= render 'manage/shared/modal/timestamps', {f: f} if show %>
  </div>

  <div class="modal-footer">
    <%= render 'manage/shared/modal/footer', {f: f} unless show %>
  </div>
<% end %>
